/**** **** **** **** **** **** **** **** **** **** **** ****
Replace the variable value with your own information.
**** **** **** **** **** **** **** **** **** **** **** ****/

github_repo_name = "YOUR_GITHUB_REPO_NAME"
