/**** **** **** **** **** **** **** **** **** **** **** ****
Replace the variable value with your own information.
**** **** **** **** **** **** **** **** **** **** **** ****/

tf_organization = "YOUR_ORGANIZATION"
tf_workspace = "YOUR_WORKSPACE"
